{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
  <div class="uk-container">
      <div uk-grid>
        {% for product in products %}
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <img src="{{ product.picture }}" alt="{{ product.name }}">
            </div>
            <div class="uk-card-body" style="max-width: 200px;">
              <h3>{{ product.name }}</h3>
              <p>
                {{ product.description }}
              </p>
              <h4>{{ product.priceHT }} €</h4>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
