<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}MONSITE - {% endblock %}</title>
    {% block stylesheets %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/css/uikit.min.css"
    />
    {% endblock %}
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li {{ app.request.attributes.get('_route') == 'homepage' ? 'class="uk-active"' }}><a href="{{ path('homepage') }}">ACCUEIL</a></li>
          <li {{ app.request.attributes.get('_route') == 'presentation' ? 'class="uk-active"' }}><a href="{{ path('presentation') }}">PRESENTATION</a></li>
        </ul>
      </div>
    </nav>
    {# {{ dump(app.request) }} #}
    {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.6/dist/js/uikit-icons.min.js"></script>
    {% endblock %}
  </body>
</html>
